// Typography
$font-family: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight: 400;


//Colors Fonts
$main: rgba(2, 42, 191, 1);
$additional-first: rgba(128, 148, 223, 1);
$additional-second: rgba(220, 230, 255, 1);
$h: rgba(19, 39, 113, 1);
$txt: rgba(86, 97, 139, 1);
$text-gray: rgba(170, 177, 204, 1);
$stroke: rgba(230, 234, 249, 1);
$bg: rgba(240, 242, 250, 1);
$danger: rgba(216, 47, 47, 1);
$nav-text: rgba(146, 160, 195, 1);
$table-first-name: rgba(16, 42, 139, 1);


//breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;


